<!-- 
/**
* Clover Core View
* Copyright 2015 EJSE
* Under MIT License
* Version 0.2 Updated on Dec 26 2015
*/
-->
<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>ERROR - Clover</title>
		<style type="text/css">
		h1 {
			font-family: 'Estrangelo Edessa',serif;
			font-size: 30px;
			margin: 20px 10px;
		}
		.error-info-div{
			margin: 10px;
			font-size: 15px;
		}
		hr {
			border: 0;
    		height: 1px;
    		background-image: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
		}
		.copyright-info-div{
			margin: 10px;
			font-family: sans-serif;
			font-size: 12px;
			color: #555555;
		}
		</style>
	</head>
	<body>
		<h1>Page Not Found - Clover</h1>
		<hr>
		<div class="error-info-div">
			The page you tried to visit is not there.
		</div>
		<hr>
		<div class="copyright-info-div">
			Copyright 2015 Everstray Jun Sinri Edogawa
		</div>
	</body>
</html>